.card-section {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 50px;
  margin-top: 50px;
}

.planet-card {
  align-items: center;
  background: transparent;
  border: 5px solid rgba(97, 95, 95, 0.8);
  border-radius: 10px;
  box-shadow: 10px white;
  color: black;
  height: 660px;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 360px;
}

.planet-card img {
  background: transparent;
  border-radius: 50%;
  margin-top: 10px;
  width: 200px;
}

.card-title {
  background: transparent;
  color: rgb(226, 226, 26);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 10px;
}

.planet-card, .card-body, .card-title, .planet-card-text {
  background: rgba(41, 41, 41, 0.8);
  color: yellow;
}

.planet-card p {
  background: transparent;
}

.planet-card-text {
  background: transparent;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 10px;
  width: 100%;
}

.card-body {
  width: 100%;
}

.filter-div {
  display: flex;
  margin-bottom: 30px;
}

::placeholder {
  color: yellow;
}

.name-input {
  background-color: rgba(48, 48, 48, 0.651);
  border-color: yellow;
  border-radius: 5px;
  color: yellow;
  height: 40px;
  margin-bottom: 30px;
  margin-left: 10px;
  padding: 10px;
  width: 50%;
}

.filter-div input:focus + label {
  color: yellow;
}

.filter-div select, .filter-div option {
  background-color: rgba(48, 48, 48, 0.651);
  border-color: yellow;
  color: yellow;
  height: 35px;
  margin: 0 10px;
  width: 20%;
}

.value-input {
  background-color: rgba(48, 48, 48, 0.651);
  border: 1px solid yellow;
  border-radius: 5px;
  margin-left: 10px;
  padding: 10px;
  width: 20%;
}

.filter-div select:hover, .filter-div input:hover, .name-input:hover, .value-input:hover {
  cursor: pointer;
}

.button-divs {
  margin-left: 10px;
}

.button-divs button {
  border-color: yellow;
  color: yellow;
  margin-bottom: 15px;
  margin-right: 15px;
}

.button-divs button:hover {
  color: white;
  cursor: pointer;
}

.filter-div input {
  height: 35px;
  width: 100%;
}
