/* index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background: url('https://wallpapers.com/images/hd/star-wars-space-background-1920-x-1080-f1o3qr8zm0z4662c.jpg')  no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(226, 226, 26);
  font-family: Star Jedi , sans-serif;
}

.header-logo {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 10px;
  width: 100%;
}
