* {
  background: url('https://e0.pxfuel.com/wallpapers/606/105/desktop-wallpaper-star-wars-galaxy-background-novocom-top-star-wars-hyperspace.jpg')  no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(226, 226, 26);
}

.header-logo {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 10px;
  width: 100%;
}
